@font-face {
    font-family: Subway-ticker;
    src: url(../fonrs/subway-ticker.regular.ttf);
}

@font-face {
    font-family: Romanica;
    src: url(../fonrs/romanica.regular.ttf);
}

body {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    text-align: center;
    height: 98vh;
}

nav {
    position: absolute;
    display: flex;
    flex-flow: column;
}

nav button {
    display: none;
    margin: 0.1vh !important;
    border-radius: 1rem;
    width: 5rem;
}

main {
    margin-top: 40vh;
    transition: 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
}

main input {
    background-color: #111111;
    border: 0;
    border-bottom: 2px solid #ecf0f1;
    color: #FFFF8A;
    font-family: Subway-ticker;
    font-size: 35pt;
    text-align: center;
    width: 30rem;
}

main input:focus {
    outline: none;
}

main .buttons {
    margin: 1vh;
    display: flex;
    justify-content: center;
    transition: 500ms;
    /* opacity: 0%; */
}

main .buttons button,
nav button {
    height: 4vh;
    color: #ecf0f1;
    background-color: #000;
    border: 0;
    font-family: Romanica;
    margin: 0px 0.1vw;
    transition: 200ms ease-in-out;
}

main .buttons button:hover,
nav button:hover {
    color: #FFFF8A;
}

main .buttons button:active,
nav button:active {
    transition: 0s;
    background-color: #FFFF8A;
    color: #000;
}


main .buttons .sort {
    width: 4rem;
    border-radius: 2rem 0px 0px 2rem;
    padding: 0px 1.5rem;
    text-align: end;
}

main .buttons .search {
    width: 4rem;
    border-radius: 0px 2rem 2rem 0px;
    text-align: start;
}

footer,
a,
a:visited {
    bottom: 0;
    color: #8e8e8e;
    font-family: Romanica;
    transition: 200ms;

}

a:hover {
    color: #FFFF8A;
}

main .output {
    font-family: Subway-ticker;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /*with js to scroll*/
    max-height: 40vh;
    min-width: 30rem;
    color: #FFFF8A;
    transition: scrollbar-color 200ms ease;
    /* border: 2px solid #333333;
    border-radius: 2rem; */
}

main .output:hover {
    scrollbar-color: #FFFF8A transparent;
}

main .output div {
    margin-bottom: 0.15rem;
}

main .fade{
    position: absolute;
    bottom: 4rem;
    width: 29rem;
    height: 6rem;
    background: linear-gradient(transparent, #111111 90%, #111111);
    /* border: 1px solid red; */
    /* background-image: linear-gradient(red, yellow); */
    z-index: 10;
}